@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1 class="display-3 text-center"> Food Finder </h1>
  <p class="lead text-center">Search for great food by cuisine</p>
  <hr class="my-4">

@* "TOP 3 RESTAURANTS IN YOUR AREA:"
  = RESTAURANT 1
  = RESTAURANT 2
  = RESTAURANT 3 *@
</div>